---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

const allPosts: CollectionEntry<"blog">[] = await getCollection("blog");

const sortedByDate = allPosts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Blog">
  <h1>All Blog Posts</h1>
  <p>Here you can find all my articles, sorted by the most recent.</p>

  <section class="post-list">
    {
      sortedByDate.map((post) => (
        <BlogPostPreview post={post} />
      ))
    }
  </section>
</BaseLayout>

<style></style>
