---
import BaseLayout from "../layouts/BaseLayout.astro";
const topics = [
  { name: "Software Engineering", href: "/category/software-engineering" },
  { name: "Machine Learning", href: "/category/machine-learning" },
  { name: "Operating Systems", href: "/category/os" },
  { name: "Math & Stats", href: "/category/math-stats" },
  { name: "CS Theory", href: "/category/cs-theory" },
  { name: "Book Notes", href: "/category/book-notes" },
  { name: "Meta", href: "/category/meta" },
];
---

<BaseLayout title="Home">
  <section class="hero">
    <div class="hero-text">
      <h1>Exploring Computing from First Principles.</h1>
      <p>
        I believe the best way to master a craft is to understand its core. This
        blog is my digital workshop for doing just that—a place where I build
        concepts from scratch to truly understand them.
      </p>
    </div>
    <div class="hero-image">
      <img
        src="https://avatars.githubusercontent.com/u/79272572?v=4"
        alt="Marcelo's profile picture"
      />
    </div>
  </section>
  <section class="topics-section">
    <h2>Topics</h2>
    <div class="topics-grid">
      {
        topics.map((topic) => (
          <a href={topic.href} class="topic-card">
            <h3>{topic.name}</h3>
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
<style>
  .hero {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-bottom: 6rem;
  }
  .hero-text {
    flex: 2;
  }
  .hero-text h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .hero-text p {
    font-size: 1.25rem;
    color: #555;
  }
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow:
      0 10px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
  .topics-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .topics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
  }
  .topic-card {
    background-color: #fff;
    border: 1px solid #eef0f3;
    border-radius: 8px;
    padding: 2rem 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text);
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }
  .topic-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
  }
  .topic-card h3 {
    color: var(--color-text);
    margin: 0;
    font-size: 1.1rem;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
    .hero-image img {
      width: 200px;
      height: 200px;
    }
  }
</style>
